@import url('https://fonts.googleapis.com/css?family=Noto+Sans');

html, body, .container, .row {
  background-color: #191414;
  color: white;
  height:100%;
  font-family: 'Noto Sans', sans-serif;
}

.container {
  display: table !important;
}
.row {
  display: table-cell !important;
  text-align: center;
  vertical-align: middle;
}
.homepage {
  padding-bottom: 10px;
}

#login h1 {
  font-size: 75px;
}

#login p {
  font-size: 25px;
}

#spotify-btn,
#submit-playlist {
  border-radius: 25px;
  font-size: 20px;
  padding-left: 20px;
  padding-right: 20px;
  background-color: #1DB954;
  border-color: #1DB954;
}

#submit-playlist {
  border-radius: 25px;
  font-size: 15px;
}
