@import url('https://fonts.googleapis.com/css?family=Noto+Sans');

html, body, .container, .row {
  background-color: #191414;
  color: white;
  height:100%;
  font-family: 'Noto Sans', sans-serif;
}

.container {
  display: table !important;
}
.row {
  display: table-cell !important;
  text-align: center;
  vertical-align: middle;
}
.homepage {
  padding-bottom: 10px;
}

#login h1 {
  font-size: 75px;
}

#login p {
  font-size: 25px;
}

#playlist {
  display: none;
}

#spotify-btn,
.submit-playlist {
  border-radius: 25px;
  font-size: 20px;
  padding-left: 20px;
  padding-right: 20px;
  background-color: #1DB954;
  border-color: #1DB954;
}

.submit-playlist {
  border-radius: 25px;
  font-size: 25px;
  margin-left: 20px;
  margin-bottom: 20px;
}

.playlist-name {
  font-size: 25px;
}

.media-body {
  margin-top: 25px;
}

.in-line-list {
  float: right;
  padding-right: 40px;
}

#result-list {
  position: relative;
  overflow: auto;
  height: 65vh;
  width: 90vh;
  float: right;
  white-space: nowrap;
}

#loggedin {
  position: relative;
}

#newName {
  position: relative;
  bottom: 0;
  left: 0;
  background-color: #191414;
  border-bottom: 50px;
  border-color: #FFFFFF;
  border-top: 0px;
  border-left: 0px;
  border-right: 0px;
  width: 30vw;
}
