html, body, .container, .row {
  background-color: #191414;
  color: white;
  height:100%;
}

.container {
  display: table !important;
}
.row {
  display: table-cell !important;
  text-align: center;
  vertical-align: middle;
}
